

@font-face {
    font-family: 'nexa_demobold';
    src: url('nexademo-bold.woff2') format('woff2'),
         url('nexademo-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'nexa_demolight';
    src: url('nexademo-light.woff2') format('woff2'),
         url('nexademo-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sansregular';
    src: url('opensans-regular.woff2') format('woff2'),
         url('opensans-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}