.UserLoginWrap {
    position: relative;
    height  : 100%;


    .User_loginContent {
        padding: 20px 0 70px;

        p {
            text-align: center;
        }

        .loginLogo {
            text-align: center;
            margin    : 30px auto;

            img {
                max-width: 150px;
                width    : 100%;
            }
        }

        .userLoginFormWrap {
            padding      : 0 30px;
            margin-bottom: 50px;

            .userLoginForm {
                border-radius   : 20px;
                background-color: $white;
                box-shadow      : -1.219px 9.925px 34.8px 5.2px rgba(239, 186, 170, 0.28);
                padding         : 25px;
                text-align      : center;
                height          : 250px;
                position        : relative;

                h3 {
                    color         : #b71c73;
                    font-size     : 18px;
                    margin-bottom : 20px;
                    font-family   : $open;
                    text-transform: uppercase;
                }

                .form-group {
                    position     : relative;
                    margin-bottom: 60px;

                    .form-control {
                        border          : none;
                        font-size       : 14px;
                        background-color: #f24f4e;
                        padding         : 0 15px;
                        border-radius   : 50px;
                        height          : 50px;
                        color           : $white;
                        box-shadow      : none;
                        outline         : none;
                        padding-left    : 40px;
                        text-decoration : none;

                        &::placeholder {
                            color: #ebeaf1;
                        }
                    }

                    i {
                        position : absolute;
                        left     : 20px;
                        top      : 50%;
                        transform: translateY(-50%);
                        color    : $white;
                        font-size: 26px;
                    }
                }

                .sendBtn {
                    transform: translateY(50%);
                }

                .otpBoxWrap {
                    display   : flex;
                    align-self: center;
                    justify-content: center;
                    padding   : 15px 0;
                    width     : 100%;

                    .otpSingleBox {
                        max-width    : 55px;
                        width        : 100%;
                        margin       : 0 8px;
                        height       : 55px;
                        border-radius: 16px;
                        border       : none;
                        background   : #e7e9f0;
                        outline      : none;
                        box-shadow   : none;
                        text-align   : center;
                        font-size    : 20px;
                        color        : #ef454b;
                        font-weight: 700;
                    }
                }

                &.otpForm {
                    p {
                        color: #b1b6cb;

                        b {
                            font-weight: 600;
                        }

                        span {
                            color: #ae2f75;
                        }
                    }
                }
            }
        }
    }
}